// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: #FFFFFF;

body {
  font: 100% $font-stack;
  color: black;
  background-color: $primary-color;
}
